* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  height: 70vh;
  top: 5%;
}
#info {
  margin-left: 5px;
}
#no4 {
  background: linear-gradient(to top left, #7a00b4, #715eea);
  color: white;
  box-shadow: 3px 3px 5px rgb(126, 119, 119);
}
.tr {
  cursor: pointer;
}
@media only screen and (max-width: 720px) {
  body {
    background: rgb(185, 231, 246);
    background: linear-gradient(
      162deg,
      rgba(185, 231, 246, 1) 0%,
      rgba(100, 111, 255, 1) 100%,
      rgba(89, 97, 249, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
    background-repeat: no-repeat;
    height: 300vh;
  }
  .header {
    width: 100%;
    height: 70vh;
    background-color: white;
  }

  .container-fluid {
    position: relative;
    width: 50%;
    flex-direction: column;
    gap: 3vh;
    left: -18vh;
  }
  .container-fluid button {
    width: 85vh;
  }
  .table-primary {
    margin: auto;
  }
  .topRight {
    position: relative;
    width: 100%;
    top: 4vh;
    margin-left: -25vh;
    display: flex;
    flex-direction: row;
    gap: 3vh;
  }
  .tablediv {
    position: relative;
    top: 3%;
    border-radius: 13px;
  }
  .date {
    position: relative;
    bottom: 1.5vh;
    width: 20vh;
    height: 5vh;
    background-color: #c4c4c4;
    border-radius: 8px;
  }
  .date p {
    text-align: center;
    font-weight: 350;
    color: black;
  }
  .topRight img {
    position: relative;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    bottom: 2vh;
  }
  .topRight h3 {
    position: relative;
    color: black;
    bottom: 1.5vh;
  }
  .lastsignIn {
    position: relative;
    left: 65%;
    top: 3vh;
  }
  .logo {
    top: 10%;
    right: 29%;
  }
  .feedbackForm {
    position: relative;
    top: 3%;
    left: 3%;
  }

  .UserProfile {
    width: 5%;
    background-color: aquamarine;
    border-radius: 50%;
    margin-right: 2vh;
  }
  .name {
    position: relative;
    top: 3vh;
  }
  .card {
    margin-top: 7%;
    width: 96%;
  }
}
