@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.header {
  display: flex;
}
.logo {
  width: 10%;
  margin-top: 10px;
  margin-right: 300px;
}
.titles {
  display: flex;
}
.name,
a {
  margin: 15%;
  font-size: 1.2rem;
  text-decoration: none !important;
}

.SearchBar {
  position: absolute;
  width: 250px;
  height: 30px;
  background-color: oldlace;
  right: 240px;
  top: 25px;
}
.Search {
  position: relative;
  font-size: 25px;
  top: 28px;
  left: 39%;
}
.User {
  position: absolute;
  right: 150px;
  font-size: 35px;
  top: 20px;
  cursor: pointer;
}
.Cart {
  position: absolute;
  right: 80px;
  font-size: 35px;
  top: 22px;
  cursor: pointer;
}
.ulclass {
  height: 3vw !important;
}
.slide {
  height: 70vh;
  background-color: black;
}
.trending {
  position: absolute;
  font-style: italic;
  left: 40px;
  bottom: 5px;
}
.buttons {
  position: absolute;
  right: 50px;
  bottom: 5px;
}
.btn1 {
  border-radius: 50% !important;
  margin-left: 10px;
}
.cards1 {
  display: flex;
  flex-direction: row;
}
.card1 {
  margin-top: 150px;
  margin-right: 40px;
  margin-left: 50px;
}
.blocks {
  display: flex;
  flex-direction: row;
}
.blocks {
  width: 200px;
  height: 100px;
}
/*Flip Card*/
