* {
  margin: 0;
  padding: 0;
}

.row {
  position: relative;
  margin-top: 3%;
  left: 5%;
  gap: 8vh;
  display: flex;
  flex-direction: row;
}
.Torder {
  width: 20%;
  border-radius: 13px;
  background-color: aliceblue;
}
.Torder p {
  text-align: center;
}
.head {
  font-size: 2.5vh;
  font-weight: 600;
}
.foot {
  font-size: 4vh;
}
.chart {
  position: absolute;
}
#no1 {
  background: linear-gradient(to top left, #7a00b4, #715eea);
  color: white;
  box-shadow: 3px 3px 5px rgb(126, 119, 119);
}
.lineChart {
  position: relative;

  border-radius: 8px;
  background-color: rgb(241, 248, 255);
  width: 48%;
}
.secondChart {
  position: relative;
  border-radius: 8px;
  background-color: aliceblue;
  width: 48%;
}
.row2 {
  position: relative;
  margin-top: 3%;
  left: 3vh;
  display: flex;
  flex-direction: row;
  gap: 2vh;
}

.donutChart,
.pieChart {
  width: 35%;
  background-color: aliceblue;
  border-radius: 5px;
}

.row3 {
  display: flex;
  flex-direction: row;
  gap: 3%;
  position: relative;
  margin-top: 3%;
  left: 13.5%;
}

.footer {
  margin-top: 10vh;
  position: relative;
  width: 100%;
  height: 10vh;
  bottom: 0;
  background: black;
  color: #ffffff;
}
@media only screen and (max-width: 620px) {
  body {
    background: rgb(185, 231, 246);
    background: linear-gradient(
      162deg,
      rgba(185, 231, 246, 1) 0%,
      rgba(100, 111, 255, 1) 100%,
      rgba(89, 97, 249, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
    background-repeat: no-repeat;
    height: auto;
  }
  .header {
    width: 100%;
    height: 70vh;
    background-color: white;
  }
  .container-fluid {
    position: relative;
    width: 50%;
    flex-direction: column;
    gap: 3vh;
    left: -18vh;
  }
  .container-fluid button {
    width: 85vh;
  }
  .topRight {
    position: relative;
    top: 4vh;
    left: 46%;
    display: flex;
    flex-direction: row;
    gap: 3vh;
  }
  .date {
    position: relative;
    bottom: 1.5vh;
    width: 20vh;
    height: 5vh;
    background-color: #c4c4c4;
    border-radius: 8px;
  }
  .date p {
    text-align: center;
    font-weight: 350;
    color: black;
  }
  .topRight img {
    position: relative;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    bottom: 2vh;
  }
  .topRight h3 {
    position: relative;
    color: black;
    bottom: 1.5vh;
  }
  .lastsignIn {
    position: relative;
    left: 65%;
    top: 3vh;
  }
  .logo {
    top: 10%;
    right: 42%;
  }
  .row {
    position: relative;
    top: 3%;
    left: 8%;
    gap: 5vh;
    display: flex;
    flex-direction: row;
  }
  .Torder {
    width: 40%;
    border-radius: 13px;
    background-color: aliceblue;
  }
  .Torder p {
    text-align: center;
  }
  .head {
    font-size: 2.5vh;
    font-weight: 600;
  }
  .foot {
    font-size: 4vh;
  }
  .chart {
    position: absolute;
  }
  .lineChart {
    position: relative;

    border-radius: 8px;
    background-color: rgb(241, 248, 255);
    width: 89%;
  }
  .secondChart {
    position: relative;
    border-radius: 8px;
    background-color: aliceblue;
    width: 89%;
  }
  .row2 {
    position: relative;
    top: 7%;
    left: 6vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
  }
  .pieChart,
  .donutChart {
    width: 45%;
    height: 36vh !important;
    background-color: aliceblue;
    border-radius: 5px;
  }
  nut {
    position: relative;
    top: 15%;
    width: 47vh;
  }
  .row3 {
    display: flex;
    flex-direction: row;
    gap: 2%;
    position: relative;
    top: 9%;
    left: 4.5%;
  }

  .footer {
    bottom: 0;
    margin-top: 10vh;
    width: 100%;
    height: 10vh;
    background: #000000;
  }
}
