* {
  margin: 0;
  padding: 0;
}
body {
  overflow-y: scroll;
  height: fit-content;
  background: linear-gradient(
    162deg,
    rgba(185, 231, 246, 1) 0%,
    rgba(100, 111, 255, 1) 100%,
    rgba(89, 97, 249, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
}

.feedbackForm {
  height: fit-content;
  width: 100vw;
  padding-left: 3%;
  padding-top: 3%;
}
.name:last-child {
  position: relative;
  top: 0vh;
}
.row {
  display: flex;
  flex-direction: row;

  gap: 2vh;
}
.UserProfile {
  width: 50px;
  height: 50px;
  color: rgb(0, 19, 36);
  border-radius: 50%;
  margin-right: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-family: "Anton", sans-serif;
}
.name {
  position: relative;
  top: 1vh;
}
.card {
  margin-left: 3%;
  width: 30%;
}
#no5 {
  background: linear-gradient(to top left, #7a00b4, #715eea);
  color: white;
  box-shadow: 3px 3px 5px rgb(126, 119, 119);
}

.footer {
  margin-top: 10vh;
  width: 100%;
  height: 8vh;
  bottom: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  background-color: white;
  color: #000000;
}
.usernfeedback {
  display: flex;
  flex-direction: row;
}
.ProflieAndName {
  margin-top: 30px;
}

.fdbtn {
  margin-top: 5px;
}

@media only screen and (max-width: 720px) {
  body {
    background: rgb(185, 231, 246);
    background: linear-gradient(
      162deg,
      rgba(185, 231, 246, 1) 0%,
      rgba(100, 111, 255, 1) 100%,
      rgba(89, 97, 249, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
    background-repeat: no-repeat;
    height: 300vh;
  }
  .header {
    width: 100%;
    height: 70vh;
    background-color: white;
  }
  .container-fluid {
    position: relative;
    width: 50%;
    flex-direction: column;
    gap: 3vh;
    left: -18vh;
  }
  .container-fluid button {
    width: 85vh;
  }
  .topRight {
    position: relative;
    top: 4vh;
    right: 40%;
    display: flex;
    flex-direction: row;
    gap: 3vh;
  }
  .date {
    position: relative;
    bottom: 1.5vh;
    width: 20vh;
    height: 5vh;
    background-color: #c4c4c4;
    border-radius: 8px;
  }
  .date p {
    text-align: center;
    font-weight: 350;
    color: black;
  }
  .topRight img {
    position: relative;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    bottom: 2vh;
  }
  .topRight h3 {
    position: relative;
    color: black;
    bottom: 1.5vh;
  }
  .lastsignIn {
    position: relative;
    left: 65%;
    top: 3vh;
  }
  .logo {
    top: 10%;
    right: 29%;
  }
  .feedbackForm {
    position: relative;
    top: 3%;
    left: 3%;
  }

  .UserProfile {
    width: 5%;
    background-color: aquamarine;
    border-radius: 50%;
    margin-right: 2vh;
  }
  .name {
    position: relative;
    top: 3vh;
  }
  .card {
    margin-top: 7%;
    width: 96%;
  }
}
