* {
  margin: 0;
  padding: 0;
}

#no2 {
  background: linear-gradient(to top left, #7a00b4, #715eea);
  color: white;
  box-shadow: 3px 3px 5px rgb(126, 119, 119);
}

.chartbg {
  background-color: #ffffff !important;
  width: auto;
  height: 50vh;
  position: relative;
}

.mgmtdiv {
  width: 100%;
  height: 60vh;
  margin-top: 10vh;
}

.stockhead {
  color: #000000;
  margin-left: 50px;
  text-decoration: underline;
}

.mgmt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50vh;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.7);
  margin-left: 10%;
  margin-top: 5vh;
}

.inputdiv {
  width: 27%;
  margin: 3%;
  height: 30vh;
  border-radius: 20px;
  background: #dd6965;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="submit"] {
  position: absolute;
  margin-top: 40vh;
  width: 8vw;
  height: 6vh;
}
.delbth,
.subbtn,
.update {
  border-radius: 20px;
  border-style: none;
  box-shadow: 3px 3px 5px gray;
}
.subbtn {
  margin-left: 66%;
  margin-top: 26%;
  position: absolute;
  margin-top: 40vh;
  width: 8vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delbth {
  margin-right: 66%;
  margin-top: 21%;
  position: absolute;
  width: 8vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update {
  margin-left: 46%;
  margin-top: 21%;
  position: absolute;
  width: 8vw;
  height: 6vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  border-radius: 10px;
  margin: 15px;
  width: 80% !important;
}

input[type="number"] {
  border-radius: 10px;
  margin: 15px;
  width: 80% !important;
}

select {
  margin: 15px;
  width: 80% !important;
}

input[type="file"] {
  width: 80% !important;
  margin: 15px;
}

.money,
.findpd {
  width: 90% !important;
  display: flex;
  align-items: center;
  flex-direction: row;
}

span {
  border-radius: 10px !important;
}

.searchbtn {
  margin-right: 8px;
}

.mytable {
  background: #dae1fe !important;
  border-radius: 5px !important;
}

.footer {
  bottom: 0;
  margin-top: 10vh;
  width: 100%;
  height: 5vh;
  background: #000000;
}

.update {
  background-color: rgb(90, 90, 90);
  color: rgb(255, 255, 255);
  visibility: hidden;
}
.delbth {
  background-color: rgb(95, 95, 95);
  color: white;
  visibility: hidden;
}
.update_act {
  background-color: rgb(6, 167, 0);
  cursor: pointer;
  color: rgb(31, 1, 1);
  visibility: visible;
}
.delbth_act {
  background-color: rgb(168, 0, 0);
  cursor: pointer;
  color: white;
  visibility: visible;
}
